// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.tabs{
  width:80%;
  font-size:25px;
  margin:10 30;
  position:relative;
  display: flex;
  // align-items: center;
}
.tab-buttons span{
  font-size:25px;
  cursor:pointer;
  border-bottom:4px solid #ddd;
  display:inline-block;
  width: 80%;
  text-align:center;
  height:45px;
  line-height:45px;
}
#lamp{
  width:17%;
  height:4px;
  background:rgba(128, 129, 127, 0.986);
  display:block;
  position:absolute;
  top:42px;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}
#lamp.content2{
  left:22%;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}
#lamp.content1{
  left:4.5%;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}
// .tab-content{
//   border-bottom:3px solid #ddd;
//   padding:15px;
//   background:#eee;
//   display:inline-block;
//   font:400 13px 'open sans',sans-serif;
//   color:#333;
// }